$main-background:#095acd;
$main-background2:#ffffff;
$project-bg:#f4f4f4;
$contact-bg:#f1f4f9;
$primary-color:white;
$color-text:#98a7b3;
$font-heading:'Oswald', sans-serif;
$font-text:'Open Sans', sans-serif;
$font-small-heading:'Montserrat', sans-serif;
